<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!--v-model sirve para vincular un elemento html con una propiedad del objeto app en javascript-->
    <div id="app">
        <!--<p>hola {{nombre}}</p>
        <input type="text" v-model="nombre">
        <input type="text" v-model="numero1">
        <input type="text" v-model="numero2">
        <button v-on:click="suma">Sumar</button>
        <p>{{resultado}}</p>
        <hr>
        <form action="">
            <input type="text" placeholder="nombre" v-model="username">
            <input type="text" placeholder="Apellido" v-model="lastName">
            <button type="button" v-on:click="addPerson">Save data</button>
        </form>
        <ul>
            <li v-for="item in persons">
                {{ item.name }} - {{ item.lastName }}
            </li>
        </ul>-->
        <form action="">
            <label for="email">email</label>
            <input type="text" id="email" placeholder="write here" v-model="email">
            <label for="password">password</label>
            <input type="password" id="password" placeholder="write here" v-model="password">
            <button @click="login" type="button">Access</button>
        </form>
    </div>
    <style>
        input{
            display: block;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script>
        const app = new Vue({
            el: '#app',
            data: {
                users: '',
                email: '',
                password: ''
            },
            methods: {
                login: async function(){
                    //1.- traer los datos
                    const response = await fetch("users.json");
                    const users = await response.json();
                    
                    let login = false;

                    //2.- recorrer los datos
                    users.forEach(user => {
                        //3.- comprobar si el usuario existe
                        if(this.email == user.email){
                            if(this.password == user.password){
                                alert('bienvenido '+user.name);
                                login = true;
                            }
                        }
                    });

                    if(!login){
                        alert('Verifique su información');
                    }
                }
            }
        });
        /*const app = new Vue({
            el: '#app',
            data: {
                numero1: 0,
                numero2: 0,
                resultado: 0,
                nombre: '',
                username: '',
                lastName: '',
                persons: []
            },
            methods: {
                suma: function () {
                    this.resultado = parseInt(this.numero1) + parseInt(this.numero2);
                },
                addPerson() {
                    const person = {
                        name:this.username,
                        lastName: this.lastName
                    };
                    console.log(this.username);
                    console.log(this.lastName);
                    this.persons.push(person);
                }
            }
        });*/
    </script>
</body>
</html>