<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!--v-model sirve para vincular un elemento html con una propiedad del objeto app en javascript-->
    <div id="app">
        <!--<p>hola {{nombre}}</p>
        <input type="text" v-model="nombre">
        <input type="text" v-model="numero1">
        <input type="text" v-model="numero2">
        <button v-on:click="suma">Sumar</button>
        <p>{{resultado}}</p>
        <hr>
        <form action="">
            <input type="text" placeholder="nombre" v-model="username">
            <input type="text" placeholder="Apellido" v-model="lastName">
            <button type="button" v-on:click="addPerson">Save data</button>
        </form>
        <ul>
            <li v-for="item in persons">
                {{ item.name }} - {{ item.lastName }}
            </li>
        </ul>-->
        <h2>Access Data</h2>
        <form action="">
            <label for="username">username</label>
            <input type="text" id="username" placeholder="write here" v-model="username" id="username">
            <label for="password">password</label>
            <input type="password" id="password" placeholder="write here" v-model="password" id="password">
            <button @click="login" type="button">Access</button>
        </form>
        
        <!--v:bind sirve para modificar el valor de un atributo html dinámicamente (se abrevia con :atributo)-->
        <table v-if="accedio">
            <button id="btnAgregar" v-if="accedio" v-on:click="add">Add</button>
            <tr class="header">
                <td class="header__td">Nombre</td>
                <td class="header__td">Apellido</td>
                <td class="header__td">Email</td>
                <td class="header__td">ID</td>
                <td class="header__td">actions</td>
            </tr>
            <tr v-for="user in arrayUsers">
                <td class="datos" :contenteditable="user.editable">{{ user.name }}</td>
                <td class="datos" :contenteditable="user.editable">{{ user.lastname }}</td>
                <td class="datos" :contenteditable="user.editable">{{ user.email }}</td>
                <td class="datos" :ontenteditable="user.editable">{{ user.role_id }} </td>
                <td class="datos">
                    <button id="btnEdit" v-on:click="edit">Edit</button>
                    <button id="btnRemove" v-on:click="remove">Remove</button>
                </td>
            </tr>
        </table>
    </div>
    <style>
        input{
            display: block;
        }

        td{
            padding: .3em;
            border: 1px solid yellow;
            background-color: #ac4df2;
        }

        table{
            border-collapse: collapse;
        }

        .header__td{
            background-color: yellow;
        }

        .datos{
            color: white;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script>
        const app = new Vue({
            el: '#app',
            data: {
                email: '',
                username: '',
                password: '',
                accedio: false,
                arrayUsers: [],
                role_id: 12
            },
            methods: {
                login: async function(){
                    //1.- traer los datos
                    const response = await fetch("users.json");
                    const users = await response.json();

                    //2.- recorrer los datos
                    users.forEach(user => {
                        //3.- comprobar si el usuario existe
                        if(this.username == user.name){
                            if(this.password == user.password){
                                alert('bienvenido '+user.name);
                                this.accedio = true;
                            }
                        }

                        this.arrayUsers.push(user);
                    });

                    if(!this.accedio){
                        alert('Verifique su información');
                    }
                },
                add: function() {
                    const nombre=prompt("Ingresa el nombre");
                    const apellido=prompt("Ingresa el apellido");
                    const correo=prompt("Ingresa el email");

                    const usuario = {
                        name: nombre,
                        lastname: apellido,
                        email: correo,
                        role_id: this.role_id+=1
                    }

                    this.arrayUsers.push(usuario);
                },
                remove: function(){
                    const usuarioAEliminar = parseInt(prompt('Ingresa el id del usuario a eliminar'));

                    if(usuarioAEliminar < 0 || usuarioAEliminar > this.arrayUsers[this.arrayUsers.length-1].role_id){
                        alert(`El id ${usuarioAEliminar} no existe`);
                    } else {
                        //se busca el índice del usuario del que se va a eliminar
                        const index = this.arrayUsers.findIndex(user => user.role_id === usuarioAEliminar);

                        //se elimina el usuario a partir del indice encontrado
                        this.arrayUsers.splice(index, 1);
                    }
                },
                edit: function(){
                    const usuarioAEditar = parseInt(prompt('Ingresa el id del usuario a editar'));

                    if(usuarioAEditar < 0 || usuarioAEditar > this.arrayUsers[this.arrayUsers.length-1].role_id){
                        alert(`El id ${usuarioAEditar} no existe`);
                    } else {
                        //obtengo el indice del usuario del que se va a editar
                        const index = this.arrayUsers.findIndex(user => user.role_id === usuarioAEditar);

                        this.arrayUsers.forEach((user, indice) => {
                            if(indice === index){
                                user.editable = !user.editable;
                            }
                        });
                    }
                }
            }
        });
        /*const app = new Vue({
            el: '#app',
            data: {
                numero1: 0,
                numero2: 0,
                resultado: 0,
                nombre: '',
                username: '',
                lastName: '',
                persons: []
            },
            methods: {
                suma: function () {
                    this.resultado = parseInt(this.numero1) + parseInt(this.numero2);
                },
                addPerson() {
                    const person = {
                        name:this.username,
                        lastName: this.lastName
                    };
                    console.log(this.username);
                    console.log(this.lastName);
                    this.persons.push(person);
                }
            }
        });*/
    </script>
</body>
</html>